.MuiContainer-root {
  background-color: rgb(89, 125, 167);
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.MuiPaper-root {
  height: 80%;
  width: 50%;
}

.MuiAppBar-root {
  background-color: green;
  height: 10% !important;
  position: sticky !important;
}

.toDoCard {
  width: 100% !important;
  height: 100% !important;
  overflow: scroll;
}

.toDoCard::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.toDoCard {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
